<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- redirection des logs -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%thread] %-5level %msg %n</pattern>
		</encoder>
	</appender>
	<appender name="RES" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%green(%msg) %n</pattern>
		</encoder>
	</appender>

	<!-- politiques de log -->
	<logger name="result" level="INFO">
		<appender-ref ref="RES" />
	</logger>
	
	<logger name="org.hibernate" level="WARN">
		<appender-ref ref="STDOUT" />
	</logger>
</configuration>
